@charset "UTF-8";
/* Q10-1*/
.box {
  display: flex;
  justify-content: center;
}
.button {
  padding: 0 15px;
  cursor: pointer;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
}

.red1 {
  color: #fff;
  background: #fd0f0fd9;
}
.blue1 {
  color: #fff;
  background: #170ffdd9;
  margin-left: 30px;
  margin-right: 30px;
}
.green1 {
  color: #000;
  background: #0ffd0fd9;
}

/* Q10-2*/
.red2 {
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px 0 0 rgba(63, 5, 5, 0.851);
}
.blue2 {
  color: #fff;
  background: #170ffdd9;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 5px 0 0 rgba(5, 13, 63, 0.851);
}
.green2 {
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px 0 0 rgba(5, 63, 5, 0.851);
}

/* Q10-3*/
.red3 {
  color: #fff;
  background: #fd0f0fd9;
  box-shadow: 0 5px 0 0 rgba(63, 5, 5, 0.851);
}
.blue3 {
  color: #fff;
  background: #170ffdd9;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 5px 0 0 rgba(5, 13, 63, 0.851);
}
.green3 {
  color: #000;
  background: #0ffd0fd9;
  box-shadow: 0 5px 0 0 rgba(5, 63, 5, 0.851);
}
.button:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* Q10-4*/
.red4 {
  color: #67c5ff;
  border: 4px double #67c5ff;
}
.blue4 {
  color: #67c5ff;
  border: 4px dotted #75caff;
  margin-left: 30px;
  margin-right: 30px;
}
.green4 {
  color: #0079a5f8;
  background: #d0edfff8;
  border: 4px dashed #67c5ff;
}
.button.red4:hover {
  background: #fffbef;
}
.button.blue4:hover {
  border: 4px dashed #67c5ff;
}
.button.green4:hover {
  color: #67c5ff;
  background: #fff;
}

